[submodule "zephyr-dev-workflow"]
	path = tool/zephyr-dev-workflow
	url = https://github.com/HKCRC/zephyr-dev-workflow.git
[submodule "module/anemometer_sample_service"]
	path = module/anemometer_sample_service
	url = https://github.com/HKCRC/anemometer_sample_service.git
[submodule "module/imu_sample_service"]
	path = module/imu_sample_service
	url = https://github.com/HKCRC/imu_sample_service.git
[submodule "module/encoder_sample_service"]
	path = module/encoder_sample_service
	url = https://github.com/HKCRC/encoder_sample_service.git
[submodule "module/system_health_service"]
	path = module/system_health_service
	url = https://github.com/HKCRC/system_health_service.git
[submodule "module/ota_manager_service"]
	path = module/ota_manager_service
	url = https://github.com/HKCRC/ota_manager_service.git
[submodule "module/network_manager_service"]
	path = module/network_manager_service
	url = https://github.com/HKCRC/network_manager_service.git
[submodule "module/time_manager_service"]
	path = module/time_manager_service
	url = https://github.com/HKCRC/time_manager_service.git
[submodule "module/device_param_server"]
	path = module/device_param_server
	url = https://github.com/HKCRC/device_param_server.git
[submodule "module/device_identity_service"]
	path = module/device_identity_service
	url = https://github.com/HKCRC/device_identity_service.git
[submodule "module/modbus_tcp_server"]
	path = module/modbus_tcp_server
	url = https://github.com/HKCRC/modbus_tcp_server.git
[submodule "module/fault_dump_service"]
	path = module/fault_dump_service
	url = https://github.com/HKCRC/fault_dump_service.git
[submodule "module/modbus_data_model"]
	path = module/modbus_data_model
	url = https://github.com/HKCRC/modbus_data_model.git
