/*
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h743Xi.dtsi>
#include <st/h7/stm32h743vitx-pinctrl.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	model = "Craner General STM32H743VIT6 PCB V1.1.0";
	compatible = "craner,craner-general-stm32h743vit6";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,settings-partition = &param_store_partition;
		zephyr,console = &uart5;
		zephyr,shell-uart = &uart5;
	};

	aliases {
		power-3v3-and-cctv = &power_3v3_and_cctv;
		power-5v = &power_5v;
		power-net-brigde = &power_net_brigde;
		modbus-slewing-encoder = &modbus_slewing_encoder;
		modbus-luffing-encoder = &modbus_luffing_encoder;
		modbus-hook-encoder = &modbus_hook_encoder;
		modbus-anemometer = &modbus_anemometer;
		heartbeat-led = &heartbeat_led;
		watchdog0 = &iwdg;
	};

	power_control {
		compatible = "gpio-leds";

		power_3v3_and_cctv: power_3v3_and_cctv {
			gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
			label = "POWER_3V3_AND_CCTV";
		};

		power_5v: power_5v {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "POWER_5V";
		};

		power_net_brigde: power_net_brigde {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			label = "POWER_NET_BRIGDE";
		};
	};

	leds {
		compatible = "gpio-leds";

		heartbeat_led: heartbeat_led {
			gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
			label = "HEARTBEAT_LED";
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00020000>;
		};

		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 0x000c0000>;
		};

		slot1_partition: partition@e0000 {
			label = "image-1";
			reg = <0x000e0000 0x000c0000>;
		};

		scratch_partition: partition@1a0000 {
			label = "image-scratch";
			reg = <0x001a0000 0x00020000>;
		};

		coredump_partition: partition@1c0000 {
			label = "coredump-partition";
			reg = <0x001c0000 0x00020000>;
		};

		app_storage_partition: partition@1e0000 {
			label = "app-storage";
			reg = <0x001e0000 0x00020000>;
		};
	};
};

&quadspi {
	pinctrl-0 = <&quadspi_bk1_io0_pd11
		     &quadspi_bk1_io1_pd12
		     &quadspi_bk1_io2_pe2
		     &quadspi_bk1_io3_pd13
		     &quadspi_bk1_ncs_pb10
		     &quadspi_clk_pb2>;
	pinctrl-names = "default";
	status = "okay";

	w25q64: qspi-nor-flash@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		size = <DT_SIZE_M(64)>;
		qspi-max-frequency = <40000000>;
		spi-bus-width = <4>;
		writeoc = "PP_1_1_4";
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			storage_partition: param_store_partition: partition@0 {
				label = "param-store";
				reg = <0x00000000 0x00020000>;
			};

			modbus_store_partition: partition@20000 {
				label = "modbus-store";
				reg = <0x00020000 0x00020000>;
			};
		};
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&clk_lse {
	status = "okay";
};

&pll {
	div-m = <5>;
	mul-n = <96>;
	div-p = <2>;
	div-q = <10>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(240)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <1>;
	d2ppre1 = <1>;
	d2ppre2 = <1>;
	d3ppre = <1>;
};

&pwr {
	power-supply = "ldo";
};

&rng {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB4, 16)>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&bbram {
	status = "okay";
};

&iwdg {
	status = "okay";
};

&uart5 {
	pinctrl-0 = <&uart5_tx_pb6 &uart5_rx_pb5>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	modbus_anemometer: modbus-anemometer {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&uart7 {
	pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	modbus_slewing_encoder: modbus-slewing-encoder {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&uart8 {
	pinctrl-0 = <&uart8_tx_pe1 &uart8_rx_pe0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	modbus_luffing_encoder: modbus-luffing-encoder {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&uart4 {
	pinctrl-0 = <&uart4_tx_pd1 &uart4_rx_pd0>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

	modbus_hook_encoder: modbus-hook-encoder {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&mac {
	pinctrl-0 = <&eth_ref_clk_pa1
		     &eth_crs_dv_pa7
		     &eth_rxd0_pc4
		     &eth_rxd1_pc5
		     &eth_tx_en_pb11
		     &eth_txd0_pb12
		     &eth_txd1_pb13>;
	pinctrl-names = "default";
	local-mac-address = [02 00 00 00 01 32];
	phy-connection-type = "rmii";
	phy-handle = <&eth_phy>;
	status = "okay";
};

&mdio {
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";
	status = "okay";

	eth_phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
		reset-gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
		reset-assert-duration-us = <10000>;
		reset-deassertion-timeout-ms = <100>;
	};
};
